
ul {
  list-style-type: none;
  margin: 10px auto;
  margin-top: auto;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
}

li {
  float: left;
  
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 14px ;
  text-decoration: none;
 
}

li a:hover, #action , .dropdown:hover .dropbtn {
  background-color: red;
}

li.dropdown {display: inline-block;
}

.dropdown-content {
  right: 0;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 0;
  outline: none;
}

.dropdown-content a {
  
  color: whitesmoke;
  border: 1px solid snow;
  padding: 10px 14px;
  text-decoration: none;
  display: block;
  text-align: center;
  
}

.dropdown-content  , a:hover {background-color: #333;
}

.dropdown:hover .dropdown-content {
  display: block;
  outline: none;
  
}
#action {
        color: #00FFE3 ;
        
}
